body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: purple;
    font-family: lobster;
}

#googleMap {
    width: 500px;
    height: 380px;
}